@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Funnel Sans", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

header {
  display: flex;
}

body {
  background-color: cadetblue;
}

.heading {
  text-align: left;
  background-color: blueviolet;
  padding-left: 40px;
  width: 100%;
  padding-right: 40px;
  font-family: monospace;
}

.loginButton {
  text-align: right;
  background-color: palevioletred;
}

.navigation {
  background-color: blueviolet;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
}

.navigation li {
  float: left;
}

.navigation li a {
  padding: 14px 16px;
  font-size: 50px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}

.createServerButton {
  text-decoration: none;
  font-size: 40px;
  padding-left: 20px;
  color: black;
}

.createServerForm {
  font-family: monospace;
  background-color: blueviolet;
}

.serverList {
  padding-left: 20px;
  padding-top: 20px;
}

.serverList a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.serverHeader {
  display: flex;
  background-color: blueviolet;
  font-family: monospace;
  align-items: center;
  height: 41px;
  box-shadow: rgba(58, 24, 209, 0.7) 0px -1px 0px 0px inset;
  box-sizing: border-box;
  unicode-bidi: isolate;
  line-height: 21px;
}

.menuButton {
  width: 32px;
}

.memberList {
  background-color: rgb(63, 109, 110);
  height: 100%;
  width: 150px;
  border: solid transparent;
  box-sizing: border-box;
  overflow-x: hidden;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow-y: auto;
}

.mainDisplay {
  display: flex;
  height: calc(100% - 66px);
}

.mainArea {
  width: calc(100% - 300px);
  padding-left: 20px;
  padding-right: 20px;
  align-self: stretch;
}

.channelList {
  height: 100%;
  width: 115px;
  background-color: rgb(63, 109, 110);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.channelList a {
  text-decoration: none;
  color: black;
}

.channelList a:hover {
  text-decoration: none;
  color: skyblue;
}

.channelHeader {
  display: flex;
  height: 6%;
  border-width: 3px;
  border-color: black;
  justify-content: space-between;
  align-items: center;
}

.channelMessages {
  height: 89%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.messageBox {
  height: 5%;
}

.messageBox input {
  background-color: rgb(41, 5, 38);
  width: 100%;
  border: none;
  color: white;
  height: 100%;
}

.profilepic {
  height: 25px;
  width: 25px;
  float: left;
  padding-right: 1px;
}

.account {
  width: 150px;
  height: 25px;
  padding-bottom: 3px;
  position: relative;
}

.account:hover {
  background-color: blueviolet;
}

.menuIcon:hover {
  cursor: pointer;
}

.account:hover {
  cursor: pointer;
}

.serverMenu {
  visibility: hidden;
  background-color: lightpink;
}

.accountPage {
  display: none;
  position: absolute;
  top: 100%;
  background-color: blueviolet;
  width: 200px;
  right: 150px;
}

.account:hover .accountPage {
  display: block;
}

.loginBtn {
  background-color: lightpink;
}

.loginTitle {
  padding-bottom: 15px;
  padding-left: 10px;
}

.usrname {
  background-color: blueviolet;
}

.pswrd {
  background-color: blueviolet;
}

.friendbutton {
  background-color: lightblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.friendbutton:hover {
  cursor: pointer;
  background-color: aqua;
}

.profilepanelname {
  text-align: center;
}

.channelAdd {
  background-color: rgb(122, 191, 214);
  align-self: center;
}

.channelSettings {
  background-color: rgb(122, 191, 214);
}

.panelheader {
  text-align: center;
}

#newChannelDialog {
  margin: auto;
}

#channelSettingsGUI {
  margin: auto;
}

.newChannelDialog {
  background-color: aqua;
}

dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  align-self: center;
  max-width: 90%;
  width: 210px;
}

#serverList {
  list-style-type: none;
  padding-left: 0;
  background-color: rgb(39, 80, 82);
  height: 100%;
  padding-right: 5px;
  text-align: center;
}

#serverList li:hover {
  color: lightblue;
  cursor: pointer;
}

.messageButtons {
  background-color: aqua;
  border-radius: 30%;
}

@media screen and (max-width: 600px) {
  .channelList {
    width: 100px;
  }

  .mainArea {
    width: calc(100% - 150px);
  }

  .memberList {
    margin-left: auto;
    justify-content: space-between;
    width: 150px;
  }
}
